- text = []
- text[0] = ''

doctype html
html
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"

    link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png"
    link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png"
    link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png"
    link rel="manifest" href="/icon/manifest.json"
    link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bd1f2"
    meta name="theme-color" content="#ffffff"

    = csrf_meta_tags
    = canonical_tag
    title Опрос
    meta name="description" content="Уделите 5 минут вашего времени на прохождение опросника и получите 200 тенге"
    link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=cyrillic" rel="stylesheet"
    link rel="stylesheet" type="text/css" href="/assets/app.css"
  body
    .disclaimer
      .row
        .col.s12
          h4 Вам есть 21 год?
          p
            a href="/terms_of_use.pdf" target="_blank" Пользовательское соглашение
          button.waves-effect.waves-light.btn.yes Да
          button.waves-effect.waves-light.btn.no Нет

    section.container.s0
      .row
        .col.s12
          h4 Здравствуйте
          p.flow-text Уделите 5 минут вашего времени на прохождение опросника и получите <b>200&nbsp;тенге</b>.
          p.flow-text#agree-container
            input type="checkbox" id="agree" checked="checked"
            label for="agree" C <a href="terms_of_participation.pdf" target="_blank">условиями участия в опросе</a> согласен
          button.waves-effect.waves-light.btn.no-result Начать

    section.container.s1
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate style="width: 0%"
          p.flow-text Укажите пол:

          ul.collection
            li.collection-item
              input.with-gap name="q1" type="radio" id="q1v1" data-i="0" data-v="Мужчина"
              label for="q1v1" Мужчина
            li.collection-item
              input.with-gap name="q1" type="radio" id="q1v2" data-i="0" data-v="Женщина"
              label for="q1v2" Женщина

          button.waves-effect.waves-light.btn Продолжить

    section.container.s2
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Укажите Ваш возраст:

          ul.collection
            li.collection-item
              input.with-gap name="q2" type="radio" id="q2v1" data-i="0" data-v="21-24"
              label for="q2v1" 21-24
            li.collection-item
              input.with-gap name="q2" type="radio" id="q2v2" data-i="0" data-v="25-29"
              label for="q2v2" 25-29
            li.collection-item
              input.with-gap name="q2" type="radio" id="q2v3" data-i="0" data-v="30-34"
              label for="q2v3" 30-34
            li.collection-item
              input.with-gap name="q2" type="radio" id="q2v4" data-i="0" data-v="35-40"
              label for="q2v4" 35-40
            li.collection-item
              input.with-gap name="q2" type="radio" id="q2v5" data-i="0" data-v="41+" data-fail="17"
              label for="q2v5" 41+

          button.waves-effect.waves-light.btn Продолжить

    section.container.s3
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Как часто Вы потребляете пиво:

          ul.collection
            li.collection-item
              input.with-gap name="q3" type="radio" id="q3v1" data-i="0" data-v="Раз в день и чаще"
              label for="q3v1" Раз в день и чаще
            li.collection-item
              input.with-gap name="q3" type="radio" id="q3v2" data-i="0" data-v="2-6 раз в неделю"
              label for="q3v2" 2-6 раз в неделю
            li.collection-item
              input.with-gap name="q3" type="radio" id="q3v3" data-i="0" data-v="Раз в неделю"
              label for="q3v3" Раз в неделю
            li.collection-item
              input.with-gap name="q3" type="radio" id="q3v4" data-i="0" data-v="2-3 раза в месяц"
              label for="q3v4" 2-3 раза в месяц
            li.collection-item
              input.with-gap name="q3" type="radio" id="q3v5" data-i="0" data-v="1 раз в месяц"
              label for="q3v5" 1 раз в месяц
            li.collection-item
              input.with-gap name="q3" type="radio" id="q3v6" data-i="0" data-v="1 раз в 2-3 месяца"
              label for="q3v6" 1 раз в 2-3 месяца
            li.collection-item
              input.with-gap name="q3" type="radio" id="q3v7" data-i="0" data-v="Менее 1 раза в 2-3 месяца" data-fail="17"
              label for="q3v7" Менее 1 раза в 2-3 месяца

          button.waves-effect.waves-light.btn Продолжить

    section.container.s4
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Какие марки пива Вы потребляете?
          p.flow-text.inf &#42; Возможно несколько ответов

          ul.collection
            li.collection-item
              input type="checkbox" id="q4v1" data-i="0" data-v="Шымкентское"
              label for="q4v1" Шымкентское
            li.collection-item
              input type="checkbox" id="q4v2" data-i="1" data-v="Прага"
              label for="q4v2" Прага
            li.collection-item
              input type="checkbox" id="q4v3" data-i="2" data-v="Рудненское"
              label for="q4v3" Рудненское
            li.collection-item
              input type="checkbox" id="q4v4" data-i="3" data-v="Миллер"
              label for="q4v4" Миллер
            li.collection-item
              input type="checkbox" id="q4v5" data-i="4" data-v="Хайнекен"
              label for="q4v5" Хайнекен
            li.collection-item
              input type="checkbox" id="q4v6" data-i="5" data-v="Белый Медведь"
              label for="q4v6" Белый Медведь
            li.collection-item
              input type="checkbox" id="q4v7" data-i="6" data-v="Кружка Свежего"
              label for="q4v7" Кружка Свежего
            li.collection-item
              input type="checkbox" id="q4v8" data-i="7" data-v="Балтика"
              label for="q4v8" Балтика
            li.collection-item
              input type="checkbox" id="q4v9" data-i="8" data-v="Карагандиснское"
              label for="q4v9" Карагандиснское
            li.collection-item
              input type="checkbox" id="q4v10" data-i="9" data-v="Большая Кружка"
              label for="q4v10" Большая Кружка
            li.collection-item
              input type="checkbox" id="q4v11" data-i="10" data-v="Жатецкий Гусь"
              label for="q4v11" Жатецкий Гусь
            li.collection-item
              input type="checkbox" id="q4v12" data-i="11" data-v="Жигулевское"
              label for="q4v12" Жигулевское
            li.collection-item
              input type="checkbox" id="q4v13" data-i="12" data-v="Дербес"
              label for="q4v13" Дербес
            li.collection-item
              input type="checkbox" id="q4v14" data-i="13" data-v="Ирбис"
              label for="q4v14" Ирбис
            li.collection-item
              input type="checkbox" id="q4v15" data-i="14" data-v="Велкопоповицкий Козел"
              label for="q4v15" Велкопоповицкий Козел
            li.collection-item
              input type="checkbox" id="q4v16" data-i="15" data-v="Алма-Ата"
              label for="q4v16" Алма-Ата
            li.collection-item
              input type="checkbox" id="q4v17" data-i="16" data-v="Амстердам"
              label for="q4v17" Амстердам
            li.collection-item
              input type="checkbox" id="q4v18" data-i="17" data-v="Бавария"
              label for="q4v18" Бавария
            li.collection-item
              input type="checkbox" id="q4v19" data-i="18" data-v="Эфес"
              label for="q4v19" Эфес
            li.collection-item
              input type="checkbox" id="q4v20" data-i="19" data-v="Холстен"
              label for="q4v20" Холстен
            li.collection-item
              input type="checkbox" id="q4v21" data-i="20" data-v="Туборг"
              label for="q4v21" Туборг
            li.collection-item
              input type="checkbox" id="q4v22" data-i="21" data-v="Жиугли Барное"
              label for="q4v22" Жиугли Барное
            li.collection-item
              input type="checkbox" id="q4v23" data-i="22" data-v="Славна Пивнице"
              label for="q4v23" Славна Пивнице
            li.collection-item
              input type="checkbox" id="q4v24" data-i="23" data-v=""
              label for="q4v24" Впишите другое:
              div class="input-field"
                input id="beer" type="text" maxlength="120" data-length="120"
                label for="beer" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s5
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Помните проект «Всё начинается с Кружки»?

          ul.collection
            li.collection-item
              input.with-gap name="q5" type="radio" id="q5v1" data-i="0" data-v="Да"
              label for="q5v1" Да
            li.collection-item
              input.with-gap name="q5" type="radio" id="q5v2" data-i="0" data-v="Нет" data-fail="13"
              label for="q5v2" Нет

          button.waves-effect.waves-light.btn Продолжить

    section.container.s6
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Откуда Вы узнали о проекте?
          p.flow-text.inf &#42; Возможно несколько ответов

          ul.collection
            li.collection-item
              input type="checkbox" id="q6v1" data-i="0" data-v="Из интернета"
              label for="q6v1" Из интернета
            li.collection-item
              input type="checkbox" id="q6v2" data-i="1" data-v="Видео в интернете"
              label for="q6v2" Видео в интернете
            li.collection-item
              input type="checkbox" id="q6v3" data-i="2" data-v="В магазине"
              label for="q6v3" В магазине
            li.collection-item
              input type="checkbox" id="q6v4" data-i="3" data-v="Увидел у друзей в социальных сетях"
              label for="q6v4" Увидел у друзей в социальных сетях
            li.collection-item
              input type="checkbox" id="q6v5" data-i="4" data-v="Рассказали друзья"
              label for="q6v5" Рассказали друзья
            li.collection-item
              input type="checkbox" id="q6v6" data-i="5" data-v=""
              label for="q6v6" Впишите другое:
              div class="input-field"
                input id="where" type="text" maxlength="120" data-length="120"
                label for="where" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s7
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Вы прошли регистрацию на сайте?

          ul.collection
            li.collection-item
              input.with-gap name="q7" type="radio" id="q7v1" data-i="0" data-v="Да"
              label for="q7v1" Да
            li.collection-item
              input.with-gap name="q7" type="radio" id="q7v2" data-i="0" data-v="Нет" data-fail="12"
              label for="q7v2" Нет

          button.waves-effect.waves-light.btn Продолжить

    section.container.s8
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Что побудило Вас к участию?
          p.flow-text.inf &#42; Возможно несколько ответов

          ul.collection
            li.collection-item
              input type="checkbox" id="q8v1" data-i="0" data-v="Любовь к пиву"
              label for="q8v1" Любовь к пиву
            li.collection-item
              input type="checkbox" id="q8v2" data-i="1" data-v="Жажда приключений"
              label for="q8v2" Жажда приключений
            li.collection-item
              input type="checkbox" id="q8v3" data-i="2" data-v="Призы"
              label for="q8v3" Призы
            li.collection-item
              input type="checkbox" id="q8v4" data-i="3" data-v="Интересный формат проекта"
              label for="q8v4" Интересный формат проекта
            li.collection-item
              input type="checkbox" id="q8v5" data-i="4" data-v="Азарт, желание победить"
              label for="q8v5" Азарт, желание победить
            li.collection-item
              input type="checkbox" id="q8v6" data-i="5" data-v=""
              label for="q8v6" Впишите другое:
              div class="input-field"
                input id="why" type="text" maxlength="120" data-length="120"
                label for="why" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s9
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text О чем было видео?

          ul.collection
            li.collection-item
              input.with-gap name="q9" type="radio" id="q9v1" data-i="0" data-v="Бассейн, Мортал Комбат, надувной шар"
              label for="q9v1" Бассейн, Мортал Комбат, надувной шар
            li.collection-item
              input.with-gap name="q9" type="radio" id="q9v2" data-i="0" data-v="Клуб, бар, ресторан"
              label for="q9v2" Клуб, бар, ресторан
            li.collection-item
              input.with-gap name="q9" type="radio" id="q9v3" data-i="0" data-v="Горы, воздух, шашлык"
              label for="q9v3" Горы, воздух, шашлык
            li.collection-item
              input.with-gap name="q9" type="radio" id="q9v4" data-i="0" data-v=""
              label for="q9v4" Впишите другое:
              div class="input-field"
                input id="about" type="text" maxlength="120" data-length="120"
                label for="about" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s10
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text С какой маркой пива у Вас ассоциируется проект «Всё начинается с Кружки»?

          ul.collection
            li.collection-item
              input.with-gap name="q10" type="radio" id="q10v1" data-i="0" data-v="EFES"
              label for="q10v1" EFES
            li.collection-item
              input.with-gap name="q10" type="radio" id="q10v2" data-i="0" data-v="Кружка Свежего"
              label for="q10v2" Кружка Свежего
            li.collection-item
              input.with-gap name="q10" type="radio" id="q10v3" data-i="0" data-v="Золотая Кружка"
              label for="q10v3" Золотая Кружка
            li.collection-item
              input.with-gap name="q10" type="radio" id="q10v4" data-i="0" data-v="Жигалма/ Алматинское  Жигулевское"
              label for="q10v4" Жигалма/ Алматинское  Жигулевское
            li.collection-item
              input.with-gap name="q10" type="radio" id="q10v5" data-i="0" data-v="Большая Кружка"
              label for="q10v5" Большая Кружка
            li.collection-item
              input.with-gap name="q10" type="radio" id="q10v6" data-i="0" data-v="Жатецкий Гусь"
              label for="q10v6" Жатецкий Гусь
            li.collection-item
              input.with-gap name="q10" type="radio" id="q10v7" data-i="0" data-v="Балтика"
              label for="q10v7" Балтика
            li.collection-item
              input.with-gap name="q10" type="radio" id="q10v8" data-i="0" data-v=""
              label for="q10v8" Впишите другое:
              div class="input-field"
                input id="with" type="text" maxlength="120" data-length="120"
                label for="with" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s11
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Как Вы понимаете сообщение «Всё начинается с Кружки»?

          ul.collection
            li.collection-item
              input.with-gap name="q11" type="radio" id="q11v1" data-i="0" data-v="Всё интересное и неожиданное начинается с правильного старта" data-fail="13"
              label for="q11v1" Всё интересное и неожиданное начинается с правильного старта
            li.collection-item
              input.with-gap name="q11" type="radio" id="q11v2" data-i="0" data-v="Весёлый вечер в компании друзей начинается с кружки" data-fail="13"
              label for="q11v2" Весёлый вечер в компании друзей начинается с кружки
            li.collection-item
              input.with-gap name="q11" type="radio" id="q11v3" data-i="0" data-v="Интересные приключения начинаются с кружки" data-fail="13"
              label for="q11v3" Интересные приключения начинаются с кружки
            li.collection-item
              input.with-gap name="q11" type="radio" id="q11v4" data-i="0" data-v="Неприятности и проблемы начинаются с кружки" data-fail="13"
              label for="q11v4" Неприятности и проблемы начинаются с кружки
            li.collection-item
              input.with-gap name="q11" type="radio" id="q11v5" data-i="0" data-v="Никак не понимаю" data-fail="13"
              label for="q11v5" Никак не понимаю
            li.collection-item
              input.with-gap name="q11" type="radio" id="q11v6" data-i="0" data-v="" data-fail="13"
              label for="q11v6" Впишите другое:
              div class="input-field"
                input id="understand" type="text" maxlength="120" data-length="120"
                label for="understand" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s12
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Почему Вы не участвовали в конкурсе?

          ul.collection
            li.collection-item
              input.with-gap name="q12" type="radio" id="q12v1" data-i="0" data-v="Не умею фотографировать/ снимать видео"
              label for="q12v1" Не умею фотографировать/ снимать видео
            li.collection-item
              input.with-gap name="q12" type="radio" id="q12v2" data-i="0" data-v="Не понял"
              label for="q12v2" Не понял
            li.collection-item
              input.with-gap name="q12" type="radio" id="q12v3" data-i="0" data-v="Лень"
              label for="q12v3" Лень
            li.collection-item
              input.with-gap name="q12" type="radio" id="q12v4" data-i="0" data-v="Сложности с регистрацией"
              label for="q12v4" Сложности с регистрацией
            li.collection-item
              input.with-gap name="q12" type="radio" id="q12v5" data-i="0" data-v="Нет постоянного интернета под рукой"
              label for="q12v5" Нет постоянного интернета под рукой
            li.collection-item
              input.with-gap name="q12" type="radio" id="q12v6" data-i="0" data-v=""
              label for="q12v6" Впишите другое:
              div class="input-field"
                input id="whynot" type="text" maxlength="120" data-length="120"
                label for="whynot" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s13
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Что мы можем сделать, чтобы Вы участвовали в наших кампаниях в следующий раз?

          ul.collection
            li.collection-item
              input.with-gap name="q13" type="radio" id="q13v1" data-i="0" data-v="Больше призов"
              label for="q13v1" Больше призов
            li.collection-item
              input.with-gap name="q13" type="radio" id="q13v2" data-i="0" data-v="Гарантированные призы"
              label for="q13v2" Гарантированные призы
            li.collection-item
              input.with-gap name="q13" type="radio" id="q13v3" data-i="0" data-v="Простые условия участия"
              label for="q13v3" Простые условия участия
            li.collection-item
              input.with-gap name="q13" type="radio" id="q13v4" data-i="0" data-v="Участие звёзд"
              label for="q13v4" Участие звёзд
            li.collection-item
              input.with-gap name="q13" type="radio" id="q13v5" data-i="0" data-v=""
              label for="q13v5" Впишите другое:
              div class="input-field"
                input id="what" type="text" maxlength="120" data-length="120"
                label for="what" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s14
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Какие виды призов Вы предпочитаете?

          ul.collection
            li.collection-item
              input.with-gap name="q14" type="radio" id="q14v1" data-i="0" data-v="Наличные деньги"
              label for="q14v1" Наличные деньги
            li.collection-item
              input.with-gap name="q14" type="radio" id="q14v2" data-i="0" data-v="Подарочные сертификаты"
              label for="q14v2" Подарочные сертификаты (косметика, SPA, магазины и т.д.)
            li.collection-item
              input.with-gap name="q14" type="radio" id="q14v3" data-i="0" data-v="Бытовая техника и электроника"
              label for="q14v3" Бытовая техника и электроника
            li.collection-item
              input.with-gap name="q14" type="radio" id="q14v4" data-i="0" data-v="Машина"
              label for="q14v4" Машина
            li.collection-item
              input.with-gap name="q14" type="radio" id="q14v5" data-i="0" data-v="Активный отдых"
              label for="q14v5" Активный отдых (полёт на воздушном шаре, поездка на багги и т.п.)
            li.collection-item
              input.with-gap name="q14" type="radio" id="q14v6" data-i="0" data-v="Путешествие на двоих"
              label for="q14v6" Путешествие на двоих (Греция, Тайланд и т.п.)
            li.collection-item
              input.with-gap name="q14" type="radio" id="q14v7" data-i="0" data-v=""
              label for="q14v7" Впишите другое:
              div class="input-field"
                input id="whatkind" type="text" maxlength="120" data-length="120"
                label for="whatkind" Введите текст

          button.waves-effect.waves-light.btn Продолжить

    section.container.s15
      .row
        .col.s12
          h4 Вопрос <span class="cq">...</span>/15
          div.progress
            div.determinate
          p.flow-text Какие условия участия для Вас привлекательны?

          ul.collection
            li.collection-item
              input.with-gap name="q15" type="radio" id="q15v1" data-i="0" data-v="Код под крышкой"
              label for="q15v1" Код под крышкой (загружать коды, копить баллы, обменивать их на подарки)
            li.collection-item
              input.with-gap name="q15" type="radio" id="q15v2" data-i="0" data-v="Моментальный приз"
              label for="q15v2" Моментальный приз (выполнить необходимое действие (тест, загрузить фото и т.п.), СРАЗУ получить подарок)
            li.collection-item
              input.with-gap name="q15" type="radio" id="q15v3" data-i="0" data-v="Гарантированный приз"
              label for="q15v3" Гарантированный приз (выполнить необходимое действие (тест, загрузить фото и т.п.), получить приз в течение определённого времени)
            li.collection-item
              input.with-gap name="q15" type="radio" id="q15v4" data-i="0" data-v="Розыгрыш"
              label for="q15v4" Розыгрыш (выполнить необходимое действие (тест, загрузить фото и т.п.), участвовать в розыгрыше призов)
            li.collection-item
              input.with-gap name="q15" type="radio" id="q15v5" data-i="0" data-v="Творческий конкурс"
              label for="q15v5" Творческий конкурс (выполнить необходимое действие (загрузить свою работу, фото и т.п.), набрать наибольшее количество лайков, получить подарок)

          button.waves-effect.waves-light.btn Закончить

    section.container.s16
      .row
        .col.s12
          p.flow-text Благодарим за участие в опросе. Верно введите ваши данные, и мы перечислим вам <b>200 тенге мобильных единиц</b> до 29 апреля.

          ul.collection
            li.collection-item
              div class="input-field"
                input id="name" type="text" maxlength="120" data-length="120"
                label for="name" Имя
              div class="input-field"
                input id="number" type="tel"
                label for="number" Номер телефона
          button.waves-effect.waves-light.btn.send-result onclick="_txq.push(['track', '1']);" Отправить

    section.container.s17
      .row
        .col.s12
          h4#finish
          button.waves-effect.waves-light.btn.repeat Вернуться

    script type="text/javascript" src="/assets/app.js"
    javascript:
      var msg = {
        goodText: 'Спасибо за Ваше участие в нашем опросе!',
        badText:  'Извините, но к сожалению Вы не можете принять участие в нашем опросе.',
        uniq:     'Извините, но введённый номер телефона уже участвовал в нашем опросе.',
        error:    'Произошла ошибка. Попробуйте ещё раз'
      };
    = render partial: 'counts'
