doctype html
html
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"
    = csrf_meta_tags
    = canonical_tag
    link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png"
    link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png"
    link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png"
    link rel="manifest" href="/icon/manifest.json"
    link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bd1f2"
    meta name="theme-color" content="#ffffff"

    title Результаты опроса
    link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=cyrillic" rel="stylesheet"
    link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.2/css/tabulator.min.css" rel="stylesheet"
    link rel="stylesheet" type="text/css" href="/assets/app.css"
    link rel="stylesheet" type="text/css" href="/assets/res.css"
    link rel="stylesheet" type="text/css" href="/assets/res_table.css"
  body
    header
      nav.black
        .nav-wrapper
          a href="/result" class="brand-logo" Результаты опроса
          ul class="right hide-on-med-and-down"
            li
              a href="/result" Таблица
            li
              a href="/stat" Статистика
      .panel
        = link_to 'Скачать таблицу', result_path(format: 'xls'), class: 'waves-effect waves-light btn'
    .table
      #result
    footer
    script src= "https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
    script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin= "anonymous"
    script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.2/js/tabulator.min.js"
    script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"
    script type="text/javascript" src="/assets/jsonQ.min.js"
    script type="text/javascript" src="/assets/res.js"
