<%- result_length = @result.length %>
[
  <%- @result.each_with_index do |r, i|  %>
  {
    <%= single_value 'id', r.id %>,
    <%= single_value 'answer0', r.answer0 %>,
    <%= single_value 'answer1', r.answer1 %>,
    <%= single_value 'answer2', r.answer2 %>,
    <%= multi_value  'answer3', r.answer3 %>,
    <%= single_value 'answer4', r.answer4 %>,
    <%= multi_value  'answer5', r.answer5 %>,
    <%= single_value 'answer6', r.answer6 %>,
    <%= multi_value  'answer7', r.answer7 %>,
    <%= single_value 'answer8', r.answer8 %>,
    <%= single_value 'answer9', r.answer9 %>,
    <%= single_value 'answer10', r.answer10 %>,
    <%= single_value 'answer11', r.answer11 %>,
    <%= single_value 'answer12', r.answer12 %>,
    <%= single_value 'answer13', r.answer13 %>,
    <%= single_value 'answer14', r.answer14 %>,
    <%= formatted_value 'name', r.name %>,
    <%= formatted_value 'number', r.number %>,
    <%= formatted_value 'lang', r.lang %>,
    <%= formatted_value 'date', (r.created_at).strftime("%d.%m.%Y %H:%I") %>,
    <%= get_params_format r.get_params %>
  }<%= coma i, result_length %>
  <%- end %>
]