<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row ss:AutoFitHeight="0">
        <Cell><Data ss:Type="String">№</Data></Cell>
        <Cell><Data ss:Type="String">Номер</Data></Cell>
        <Cell><Data ss:Type="String">Имя</Data></Cell>
        <Cell><Data ss:Type="String">Пол</Data></Cell>
        <Cell><Data ss:Type="String">Возраст</Data></Cell>
        <Cell><Data ss:Type="String">Как часто потребляет пиво</Data></Cell>
        <Cell><Data ss:Type="String">Марки пива</Data></Cell>
        <Cell><Data ss:Type="String">Помнит проект «Всё начинается с Кружки»</Data></Cell>
        <Cell><Data ss:Type="String">Откуда узнал о проекте</Data></Cell>
        <Cell><Data ss:Type="String">Прошёл регистрацию на сайте</Data></Cell>
        <Cell><Data ss:Type="String">Что побудило к участию</Data></Cell>
        <Cell><Data ss:Type="String">О чем было видео</Data></Cell>
        <Cell><Data ss:Type="String">С какой маркой ассоциируется проект «Всё начинается с Кружки»</Data></Cell>
        <Cell><Data ss:Type="String">Как понимает сообщение «Всё начинается с Кружки»</Data></Cell>
        <Cell><Data ss:Type="String">Почему не участвовал в конкурсе</Data></Cell>
        <Cell><Data ss:Type="String">Что можем сделать, чтобы участвовал в следующий раз</Data></Cell>
        <Cell><Data ss:Type="String">Какие виды призов</Data></Cell>
        <Cell><Data ss:Type="String">Какие условия участия привлекательны</Data></Cell>
        <Cell><Data ss:Type="String">Язык</Data></Cell>
        <Cell><Data ss:Type="String">Дата</Data></Cell>
        <Cell><Data ss:Type="String">Системная информация</Data></Cell>
      </Row>
      <%- @result.each_with_index do |r, i|  %>
      <Row ss:AutoFitHeight="0">
        <Cell><Data ss:Type="Number"><%= i + 1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= r.number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= r.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer0 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer2 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_multi_value  r.answer3 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer4 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_multi_value  r.answer5 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer6 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_multi_value  r.answer7 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer8 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer9 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer10 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer11 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer12 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer13 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_single_value r.answer14 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= r.lang %></Data></Cell>
        <Cell><Data ss:Type="String"><%= r.created_at.strftime("%d.%m.%Y %H:%I") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= xls_get_params r.get_params %></Data></Cell>
      </Row>
      <%- end %>
    </Table>
  </Worksheet>
</Workbook>






