doctype html
html
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"
    = csrf_meta_tags
    = canonical_tag
    link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png"
    link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png"
    link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png"
    link rel="manifest" href="/icon/manifest.json"
    link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bd1f2"
    meta name="theme-color" content="#ffffff"

    title Результаты опроса
    link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=cyrillic" rel="stylesheet"
    link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.2/css/tabulator.min.css" rel="stylesheet"
    link rel="stylesheet" type="text/css" href="/assets/app.css"
    link rel="stylesheet" type="text/css" href="/assets/res.css"
    link rel="stylesheet" type="text/css" href="/assets/res_table.css"
  body
    header
      nav.black
        .nav-wrapper
          a href="/result" class="brand-logo" Результаты опроса
          ul class="right hide-on-med-and-down"
            li
              a href="/result" Таблица
            li
              a href="/stat" Статистика
      .panel
        = link_to 'Скачать таблицу', result_path(format: 'xls'), class: 'waves-effect waves-light btn'
    #stat.container
      .row
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#sex
            div.card-content
              span.card-title.grey-text.text-darken-4 Пол участников Рекламной кампании
              p
                | Мужчины:&nbsp;
                span#sex0
                br
                | Женщины:&nbsp;
                span#sex1
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#lang
            div.card-content
              span.card-title.grey-text.text-darken-4 Язык участников Рекламной кампании
              p
                | Русский:&nbsp;
                span#lang0
                br
                | Казахский:&nbsp;
                span#lang1
      .row
        .col.s12.m12.l4
          div.card
            div.card-image
              canvas#age
            div.card-content
              span.card-title.grey-text.text-darken-4 Возраст участников
              p
                | 21-24:&nbsp;
                span#age0
                br
                | 25-29:&nbsp;
                span#age1
                br
                | 30-34:&nbsp;
                span#age2
                br
                | 35-40:&nbsp;
                span#age3
                br
        .col.s12.m6.l4
          div.card
            div.card-image
              canvas#rem
            div.card-content
              span.card-title.grey-text.text-darken-4 Помнит проект «Всё начинается с Кружки»
              p
                | Да:&nbsp;
                span#rem0
                br
                | Нет:&nbsp;
                span#rem1
        .col.s12.m6.l4
          div.card
            div.card-image
              canvas#reg
            div.card-content
              span.card-title.grey-text.text-darken-4 Регистрация на сайте
              p
                | Да:&nbsp;
                span#reg0
                br
                | Нет:&nbsp;
                span#reg1
      .row
        .col.s12
          div.card
            div.card-image
              canvas#beer
            div.card-content
              span.card-title.grey-text.text-darken-4 Марки пива
              p#beer0
      .row
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#known
            div.card-content
              span.card-title.grey-text.text-darken-4 Откуда узнал о проекте
              p#known0
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#reasons
            div.card-content
              span.card-title.grey-text.text-darken-4 Что побудило к участию
              p#reasons0
      .row
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#about
            div.card-content
              span.card-title.grey-text.text-darken-4 О чем было видео
              p#about0
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#association
            div.card-content
              span.card-title.grey-text.text-darken-4 С какой маркой ассоциируется проект «Всё начинается с Кружки»
              p#association0
      .row
        .col.s12
          div.card
            div.card-image
              canvas#understand
            div.card-content
              span.card-title.grey-text.text-darken-4 С какой маркой ассоциируется проект «Всё начинается с Кружки»
              p#understand0
      .row
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#why
            div.card-content
              span.card-title.grey-text.text-darken-4 Почему не участвовал в конкурсе
              p#why0
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#next
            div.card-content
              span.card-title.grey-text.text-darken-4 Что можем сделать, чтобы участвовал в следующий раз?
              p#next0
      .row
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#prizes
            div.card-content
              span.card-title.grey-text.text-darken-4 Какие виды призов
              p#prizes0
        .col.s12.m6.l6
          div.card
            div.card-image
              canvas#rules
            div.card-content
              span.card-title.grey-text.text-darken-4 Какие условия участия привлекательны
              p#rules0
    footer
    script src= "https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
    script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin= "anonymous"
    script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.2/js/tabulator.min.js"
    script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"
    script type="text/javascript" src="/assets/jsonQ.min.js"
    script type="text/javascript" src="/assets/res.js"
